.em,
.em-svg {
  height: 0.8em;
  width: 0.8em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.em-flag-ac {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1e8.png");
}
.em-flag-ad {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1e9.png");
}
.em-flag-ae {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1ea.png");
}
.em-flag-af {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1eb.png");
}
.em-flag-ag {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1ec.png");
}
.em-flag-ai {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1ee.png");
}
.em-flag-al {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1f1.png");
}
.em-flag-am {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1f2.png");
}
.em-flag-ao {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1f4.png");
}
.em-flag-aq {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1f6.png");
}
.em-flag-ar {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1f7.png");
}
.em-flag-as {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1f8.png");
}
.em-flag-at {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1f9.png");
}
.em-flag-au {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1fa.png");
}
.em-flag-aw {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1fc.png");
}
.em-flag-ax {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1fd.png");
}
.em-flag-az {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e6-1f1ff.png");
}
.em-flag-ba {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1e6.png");
}
.em-flag-bb {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1e7.png");
}
.em-flag-bd {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1e9.png");
}
.em-flag-be {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1ea.png");
}
.em-flag-bf {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1eb.png");
}
.em-flag-bg {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1ec.png");
}
.em-flag-bh {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1ed.png");
}
.em-flag-bi {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1ee.png");
}
.em-flag-bj {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1ef.png");
}
.em-flag-bl {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1f1.png");
}
.em-flag-bm {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1f2.png");
}
.em-flag-bn {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1f3.png");
}
.em-flag-bo {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1f4.png");
}
.em-flag-bq {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1f6.png");
}
.em-flag-br {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1f7.png");
}
.em-flag-bs {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1f8.png");
}
.em-flag-bt {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1f9.png");
}
.em-flag-bv {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1fb.png");
}
.em-flag-bw {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1fc.png");
}
.em-flag-by {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1fe.png");
}
.em-flag-bz {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e7-1f1ff.png");
}
.em-flag-ca {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1e6.png");
}
.em-flag-cc {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1e8.png");
}
.em-flag-cd {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1e9.png");
}
.em-flag-cf {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1eb.png");
}
.em-flag-cg {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1ec.png");
}
.em-flag-ch {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1ed.png");
}
.em-flag-ci {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1ee.png");
}
.em-flag-ck {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1f0.png");
}
.em-flag-cl {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1f1.png");
}
.em-flag-cm {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1f2.png");
}
.em-flag-cn {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1f3.png");
}
.em-flag-co {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1f4.png");
}
.em-flag-cp {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1f5.png");
}
.em-flag-cr {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1f7.png");
}
.em-flag-cu {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1fa.png");
}
.em-flag-cv {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1fb.png");
}
.em-flag-cw {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1fc.png");
}
.em-flag-cx {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1fd.png");
}
.em-flag-cy {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1fe.png");
}
.em-flag-cz {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e8-1f1ff.png");
}
.em-flag-de {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e9-1f1ea.png");
}
.em-flag-dg {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e9-1f1ec.png");
}
.em-flag-dj {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e9-1f1ef.png");
}
.em-flag-dk {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e9-1f1f0.png");
}
.em-flag-dm {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e9-1f1f2.png");
}
.em-flag-dm.em-svg {
  background: url("https://twemoji.maxcdn.com/2/72x72/1f1e9-1f1f2.png");
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f1e9-1f1f2.svg"),
    none;
}
.em-flag-do {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e9-1f1f4.png");
}
.em-flag-dz {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1e9-1f1ff.png");
}
.em-flag-ea {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ea-1f1e6.png");
}
.em-flag-ec {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ea-1f1e8.png");
}
.em-flag-ee {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ea-1f1ea.png");
}
.em-flag-eg {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ea-1f1ec.png");
}
.em-flag-eh {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ea-1f1ed.png");
}
.em-flag-england {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f3f4-e0067-e0062-e0065-e006e-e0067-e007f.png");
}
.em-flag-er {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ea-1f1f7.png");
}
.em-flag-es {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ea-1f1f8.png");
}
.em-flag-et {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ea-1f1f9.png");
}
.em-flag-eu {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ea-1f1fa.png");
}
.em-flag-fi {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1eb-1f1ee.png");
}
.em-flag-fj {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1eb-1f1ef.png");
}
.em-flag-fk {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1eb-1f1f0.png");
}
.em-flag-fm {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1eb-1f1f2.png");
}
.em-flag-fo {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1eb-1f1f4.png");
}
.em-flag-fr {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1eb-1f1f7.png");
}
.em-flag-ga {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1e6.png");
}
.em-flag-gb {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1e7.png");
}
.em-flag-gd {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1e9.png");
}
.em-flag-ge {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1ea.png");
}
.em-flag-gf {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1eb.png");
}
.em-flag-gg {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1ec.png");
}
.em-flag-gh {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1ed.png");
}
.em-flag-gi {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1ee.png");
}
.em-flag-gl {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1f1.png");
}
.em-flag-gm {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1f2.png");
}
.em-flag-gn {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1f3.png");
}
.em-flag-gp {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1f5.png");
}
.em-flag-gq {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1f6.png");
}
.em-flag-gr {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1f7.png");
}
.em-flag-gs {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1f8.png");
}
.em-flag-gt {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1f9.png");
}
.em-flag-gu {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1fa.png");
}
.em-flag-gw {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1fc.png");
}
.em-flag-gy {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ec-1f1fe.png");
}
.em-flag-hk {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ed-1f1f0.png");
}
.em-flag-hm {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ed-1f1f2.png");
}
.em-flag-hn {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ed-1f1f3.png");
}
.em-flag-hr {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ed-1f1f7.png");
}
.em-flag-ht {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ed-1f1f9.png");
}
.em-flag-hu {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ed-1f1fa.png");
}
.em-flag-ic {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ee-1f1e8.png");
}
.em-flag-id {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ee-1f1e9.png");
}
.em-flag-ie {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ee-1f1ea.png");
}
.em-flag-il {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ee-1f1f1.png");
}
.em-flag-im {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ee-1f1f2.png");
}
.em-flag-in {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ee-1f1f3.png");
}
.em-flag-io {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ee-1f1f4.png");
}
.em-flag-it {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ee-1f1f9.png");
}
.em-flag-iq {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ee-1f1f6.png");
}
.em-flag-ir {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ee-1f1f7.png");
}
.em-flag-is {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ee-1f1f8.png");
}
.em-flag-je {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ef-1f1ea.png");
}
.em-flag-jm {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ef-1f1f2.png");
}
.em-flag-jo {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ef-1f1f4.png");
}
.em-flag-jp {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ef-1f1f5.png");
}
.em-flag-ke {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f0-1f1ea.png");
}
.em-flag-kg {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f0-1f1ec.png");
}
.em-flag-kh {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f0-1f1ed.png");
}
.em-flag-ki {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f0-1f1ee.png");
}
.em-flag-km {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f0-1f1f2.png");
}
.em-flag-kn {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f0-1f1f3.png");
}
.em-flag-kp {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f0-1f1f5.png");
}
.em-flag-kr {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f0-1f1f7.png");
}
.em-flag-kw {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f0-1f1fc.png");
}
.em-flag-ky {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f0-1f1fe.png");
}
.em-flag-kz {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f0-1f1ff.png");
}
.em-flag-la {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f1-1f1e6.png");
}
.em-flag-lb {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f1-1f1e7.png");
}
.em-flag-lc {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f1-1f1e8.png");
}
.em-flag-li {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f1-1f1ee.png");
}
.em-flag-lk {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f1-1f1f0.png");
}
.em-flag-lr {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f1-1f1f7.png");
}
.em-flag-ls {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f1-1f1f8.png");
}
.em-flag-lt {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f1-1f1f9.png");
}
.em-flag-lu {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f1-1f1fa.png");
}
.em-flag-lv {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f1-1f1fb.png");
}
.em-flag-ly {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f1-1f1fe.png");
}
.em-flag-ma {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1e6.png");
}
.em-flag-mc {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1e8.png");
}
.em-flag-md {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1e9.png");
}
.em-flag-me {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1ea.png");
}
.em-flag-mf {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1eb.png");
}
.em-flag-mg {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1ec.png");
}
.em-flag-mh {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1ed.png");
}
.em-flag-mk {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1f0.png");
}
.em-flag-ml {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1f1.png");
}
.em-flag-mm {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1f2.png");
}
.em-flag-mn {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1f3.png");
}
.em-flag-mo {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1f4.png");
}
.em-flag-mp {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1f5.png");
}
.em-flag-mq {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1f6.png");
}
.em-flag-mr {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1f7.png");
}
.em-flag-ms {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1f8.png");
}
.em-flag-mt {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1f9.png");
}
.em-flag-mu {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1fa.png");
}
.em-flag-mv {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1fb.png");
}
.em-flag-mw {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1fc.png");
}
.em-flag-mx {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1fd.png");
}
.em-flag-my {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1fe.png");
}
.em-flag-mz {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f2-1f1ff.png");
}
.em-flag-na {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f3-1f1e6.png");
}
.em-flag-nc {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f3-1f1e8.png");
}
.em-flag-ne {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f3-1f1ea.png");
}
.em-flag-nf {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f3-1f1eb.png");
}
.em-flag-ng {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f3-1f1ec.png");
}
.em-flag-ni {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f3-1f1ee.png");
}
.em-flag-nl {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f3-1f1f1.png");
}
.em-flag-no {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f3-1f1f4.png");
}
.em-flag-np {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f3-1f1f5.png");
}
.em-flag-nr {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f3-1f1f7.png");
}
.em-flag-nu {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f3-1f1fa.png");
}
.em-flag-nz {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f3-1f1ff.png");
}
.em-flag-om {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f4-1f1f2.png");
}
.em-flag-pa {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1e6.png");
}
.em-flag-pe {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1ea.png");
}
.em-flag-pf {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1eb.png");
}
.em-flag-pg {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1ec.png");
}
.em-flag-ph {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1ed.png");
}
.em-flag-pk {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1f0.png");
}
.em-flag-pl {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1f1.png");
}
.em-flag-pm {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1f2.png");
}
.em-flag-pn {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1f3.png");
}
.em-flag-pr {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1f7.png");
}
.em-flag-ps {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1f8.png");
}
.em-flag-pt {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1f9.png");
}
.em-flag-pw {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1fc.png");
}
.em-flag-py {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f5-1f1fe.png");
}
.em-flag-qa {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f6-1f1e6.png");
}
.em-flag-re {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f7-1f1ea.png");
}
.em-flag-ro {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f7-1f1f4.png");
}
.em-flag-rs {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f7-1f1f8.png");
}
.em-flag-ru {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f7-1f1fa.png");
}
.em-flag-rw {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f7-1f1fc.png");
}
.em-flag-sa {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1e6.png");
}
.em-flag-sb {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1e7.png");
}
.em-flag-sc {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1e8.png");
}
.em-flag-scotland {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f3f4-e0067-e0062-e0073-e0063-e0074-e007f.png");
}
.em-flag-sd {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1e9.png");
}
.em-flag-se {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1ea.png");
}
.em-flag-sg {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1ec.png");
}
.em-flag-sh {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1ed.png");
}
.em-flag-si {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1ee.png");
}
.em-flag-sj {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1ef.png");
}
.em-flag-sk {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1f0.png");
}
.em-flag-sl {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1f1.png");
}
.em-flag-sm {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1f2.png");
}
.em-flag-sn {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1f3.png");
}
.em-flag-so {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1f4.png");
}
.em-flag-sr {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1f7.png");
}
.em-flag-ss {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1f8.png");
}
.em-flag-st {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1f9.png");
}
.em-flag-sv {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1fb.png");
}
.em-flag-sx {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1fd.png");
}
.em-flag-sy {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1fe.png");
}
.em-flag-sz {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f8-1f1ff.png");
}
.em-flag-ta {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1e6.png");
}
.em-flag-tc {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1e8.png");
}
.em-flag-td {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1e9.png");
}
.em-flag-tf {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1eb.png");
}
.em-flag-tg {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1ec.png");
}
.em-flag-th {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1ed.png");
}
.em-flag-tj {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1ef.png");
}
.em-flag-tk {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1f0.png");
}
.em-flag-tl {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1f1.png");
}
.em-flag-tm {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1f2.png");
}
.em-flag-tn {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1f3.png");
}
.em-flag-to {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1f4.png");
}
.em-flag-tr {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1f7.png");
}
.em-flag-tt {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1f9.png");
}
.em-flag-tv {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1fb.png");
}
.em-flag-tw {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1fc.png");
}
.em-flag-tz {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1f9-1f1ff.png");
}
.em-flag-ua {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fa-1f1e6.png");
}
.em-flag-ug {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fa-1f1ec.png");
}
.em-flag-um {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fa-1f1f2.png");
}
.em-flag-un {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fa-1f1f3.png");
}
.em-flag-us {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fa-1f1f8.png");
}
.em-flag-uy {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fa-1f1fe.png");
}
.em-flag-uz {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fa-1f1ff.png");
}
.em-flag-va {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fb-1f1e6.png");
}
.em-flag-vc {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fb-1f1e8.png");
}
.em-flag-ve {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fb-1f1ea.png");
}
.em-flag-vg {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fb-1f1ec.png");
}
.em-flag-vi {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fb-1f1ee.png");
}
.em-flag-vn {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fb-1f1f3.png");
}
.em-flag-vu {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fb-1f1fa.png");
}
.em-flag-wales {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f3f4-e0067-e0062-e0077-e006c-e0073-e007f.png");
}
.em-flag-wf {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fc-1f1eb.png");
}
.em-flag-ws {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fc-1f1f8.png");
}
.em-flag-xk {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fd-1f1f0.png");
}
.em-flag-ye {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fe-1f1ea.png");
}
.em-flag-yt {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1fe-1f1f9.png");
}
.em-flag-za {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ff-1f1e6.png");
}
.em-flag-zm {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ff-1f1f2.png");
}
.em-flag-zw {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f1ff-1f1fc.png");
}
.em-flags {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f38f.png");
}
