<template>
  <div id="CountryPicker">
    <div>
      <p>
        <router-link to="/">&#8592; Back</router-link>
      </p>
      <div class="pickcountry">
        <input type="text" v-model="search" placeholder="Search" />
        <ul>
          <router-link
            :to="`/${option.countryCode}`"
            tag="li"
            v-bind:key="option.listCountry"
            v-for="option in filteredCountries"
            exact
            :style="{ cursor: 'pointer'}"
          >
            <i v-bind:class="`em ${option.Flag}`"></i>
            {{ option.listCountry }}
          </router-link>
        </ul>
      </div>
      <p>
        <router-link to="/">&#8592; Back</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import countries from "./countries.js";
export default {
  name: "CountryPicker",
  data() {
    return {
      countries: countries,
      search: ""
    };
  },
  computed: {
    /**
     * return = ends function
     * return = also ends loop if loop in function
     * break = ends loop
     * continue = skips rest of loop, starts next loop cycle
     * return also returns values
     *
     */
    filteredCountries() {
      return this.countries.filter((element, index) => {
        // every element of the countries array
        if (
          // check if country code or name match search term
          element.countryCode
            .toLowerCase()
            .includes(this.search.toLowerCase()) ||
          element.listCountry.toLowerCase().includes(this.search.toLowerCase())
        ) {
          // found search term in code or name, filter IN
          return true;
        }
        // did not find, filter OUT
        return false;
      });
    }
  }
};
</script>

<style>
#CountryPicker {
  background-color: #a0a2a3;
  padding: 10px;
}

#CountryPicker div {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  max-width: 550px;
  margin: 0 auto;
}

#CountryPicker div p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-block-start: 1em;
  padding-block-end: 1em;
}

.pickcountry {
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  padding: 10px;
  margin: 7px 0;
  font-size: 1.4rem;
}

a {
  color: #fff;
  text-decoration: none;
}

input {
  margin: 0;
  background-color: #dfd9c0;
  border: 1px solid #fff;
  width: 300px;
  height: 4vh;
  padding: 5px;
}

@media only screen and (max-width: 374px) {
  input {
    width: 50vw;
  }
}
</style>