<template>
  <div class="Fallback">
    <div class="bgimg" v-bind:style="{ 'background-image': `url('${fallbackBG}')` }">
      <div class="fbtext">
        Sorry, we can’t
        find your location.
        Find your country
        above.
      </div>
    </div>
  </div>
</template>

<script>
import fallbackBG from "../assets/Globe_IP.png";

export default {
  name: "Fallback",
  data() {
    return {
      fallbackBG
    };
  }
};
</script>

<style>
.Fallback {
  margin: 0 auto;
}

.Fallback .bgimg {
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 30px;
}

.fbtext {
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  font-weight: 900;
  color: #f9fb75;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 375px) {
  .Fallback .bgimg {
    height: 300px;
    margin-top: 30px;
  }

  .fbtext {
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
}

@media only screen and (min-width: 376px) {
  .Fallback .bgimg {
    height: 350px;
    margin-top: 30px;
  }

  .fbtext {
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
  }
}

@media only screen and (min-width: 415px) {
  .Fallback .bgimg {
    height: 370px;
    margin-top: 30px;
  }

  .fbtext {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
  }
}

@media only screen and (min-width: 767px) {
  .Fallback .bgimg {
    height: 440px;
    margin-top: 30px;
  }

  .fbtext {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
  }
}
</style>