<template>
  <div id="footer">
    Source:
    <a v-bind:href="url">{{shortUrl}}</a>
  </div>
</template>

<script>
export default {
  name: "Footer",
  props: {
    url: String,
    shortUrl: String
  }
};
</script>

<style>
#footer {
  font-size: 0.7rem;
  margin-top: 1.7em;
}

#footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}
</style>