<template>
  <div id="home">
    <div id="adblocker"></div>
    <h1>
      <span class="rwd-line">Can I drink&nbsp;</span>
      <span class="rwd-line">tap water in</span>
      <br class="rwd-line2" />
      <span class="picker">
        <router-link to="/CountryPicker">
          <div v-if="localState.fallback" class="piratefl">
            <img v-bind:src="localState.pirateFlag" border="0" />
          </div>
          <span class="bold">
            <i v-bind:class="localState.flag"></i>
            {{localState.countryName}}?
          </span>
        </router-link>
      </span>
    </h1>
    <div v-if="localState.fallback">
      <Fallback />
    </div>
    <div v-else>
      <IsDrinkable
        v-bind:drinkable="localState.drinkable"
        v-bind:warning="localState.warning"
        v-bind:url="localState.url"
        v-bind:shortUrl="localState.shortUrl"
      />
    </div>
  </div>
</template>

<script>
// other people
import axios from "axios";
// my stuff
import IsDrinkable from "./IsDrinkable.vue";
import Fallback from "./Fallback.vue";
import countries from "./countries.js";
import store from "../store.js";
import pirateFlag from "../assets/pirate-flag.png";

export default {
  components: {
    IsDrinkable,
    Fallback
  },
  data() {
    return {
      sharedFoo: store,
      localState: {
        countryName: "...",
        country_code: "",
        warning: false,
        flag: "",
        url: "",
        shortUrl: "",
        fallback: true,
        pirateFlag: pirateFlag
      }
    };
  },
  mounted() {
    let country_code = this.$route.params.countryCode;

    if (
      // If what is behind / in the address bar is NOT an "undefined" type
      typeof country_code !== "undefined" &&
      // AND if there is NOT an empty string behind the /
      country_code !== ""
    ) {
      // then do the following (compare, get country data and assign to variables)

      // check if country code is Scotland, Wales, England or North Ireland, as these all count as United Kingdom
      var countryData = this.findCountry(country_code, countries);
      this.localState.country_code = country_code;
      this.localState.countryName = countryData.listCountry;
      this.sharedFoo.drinkable = countryData.Drinkable;
      this.localState.warning = countryData.Warning;

      this.localState.flag = `em ${countryData.Flag}`;
      this.localState.url = countryData.Source;
      this.localState.shortUrl = countryData.shortSource;
      this.localState.fallback = false;
      this.sharedFoo.initial = false;
      console.log("Initial: " + this.sharedFoo.initial);
    } else {
      // Gets geo location from user's ip address. API call
      axios
        .get("https://geoip-db.com/json/", { timeout: 10000 }) // Getting the data. Timeout is 10 seconds, so will stop trying after that time.
        .then(this.getData) // good things
        .catch(function(error) {
          if (error.request) {
            // The request was made but no response was received
            console.log(error.request);
            document.getElementById("adblocker").innerHTML =
              "<p>Your ad blocker might be the reason why we can't access your location. If you don't want to disable your ad blocker, you can manually pick the country.</p>";
          } else {
            // Something happened in setting up the request that triggered an Error
            console.log("Error", error.message);
          }
        }); // bad things
    }
  },
  methods: {
    /**
    Function that compares country data received (either via API or via manuel country picker) with the list of countries provided for page 
     * @param {String} key this.country_code
     * @param {Array{Object}} array countries
     * @returns {Object} country
     */
    findCountry(key, array) {
      for (let i = 0; i < array.length; i++) {
        if (array[i].countryCode === key.toLowerCase()) {
          return array[i];
        }
      }
    },
    getData(response) {
      // Function that saves flag and url for the respecive current country in variables
      this.localState.country_code = response.data.country_code;

      const countryData = this.findCountry(
        this.localState.country_code,
        countries
      );

      // check if countryData is undefined because the contry code might not be in our countries list
      if (typeof countryData === "undefined") {
        this.localState.fallback = true;
        return; // No need for else statement because of return
      }
      // Assigning the different country data to variables for individual use
      this.localState.countryName = countryData.listCountry;
      this.sharedFoo.drinkable = countryData.Drinkable;
      this.localState.warning = countryData.Warning;

      this.localState.flag = `em ${countryData.Flag}`;
      this.localState.url = countryData.Source;
      this.localState.shortUrl = countryData.shortSource;
      this.localState.fallback = false;
      this.sharedFoo.initial = false;
      console.log("Initial: " + this.sharedFoo.initial);
    }
  }
};
</script>


<style>
#home {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

#home,
h1 {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.4rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6vh;
}

.picker {
  border-bottom: 2px solid #fff;
  padding: 5px 0;
  line-height: 150%;
}

.bold {
  font-weight: 600;
}

.rwd-line {
  display: block;
}

.rwd-line2 {
  display: none;
}

#adblocker p {
  font-size: 1rem;
  width: 65vw;
  max-width: 800px;
  background-color: lightcoral;
  border: 1px solid #fff;
  padding: 15px;
  margin: 5vh auto;
}

.piratefl {
  display: inline-block;
  vertical-align: middle;
}

.piratefl img {
  width: 0.8em;
  height: auto;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 767px) {
  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rwd-line {
    display: inline;
  }

  .rwd-line2 {
    display: block;
  }

  h1 {
    font-size: 1.8rem;
    padding-top: 2vh;
  }

  #adblocker p {
    width: 45vw;
  }
}
</style>
