<template>
  <div class="IsDrinkable">
    <div
      class="bgimg"
      v-bind:style="[sharedFoo.drinkable ? {'background-image': `url('${yesBG}')`} : {'background-image': `url('${noBG}')`}]"
    >
      <div v-if="sharedFoo.drinkable">
        <p>
          <span class="answer">Yes</span>
        </p>
      </div>
      <div v-else>
        <p>
          <span class="answer">No</span>
        </p>
      </div>
    </div>

    <div v-if="sharedFoo.drinkable">
      <p>You can safely drink tap water.</p>
    </div>
    <div v-else>
      <p>
        Don't drink tap or well water.
        <br />Drink bottled water that is sealed.
      </p>
    </div>
    <div v-if="warning">
      <p>Avoid drinking tap water on the islands.</p>
    </div>
    <div id="footer">
      Source:
      <a target="_blank" rel="noopener" v-bind:href="url">{{shortUrl}}</a>
    </div>
  </div>
</template>

<script>
import yesBG from "../assets/Globe_yes.png";
import noBG from "../assets/Globe_No.png";
import store from "../store.js";

export default {
  name: "IsDrinkable",
  data() {
    return {
      sharedFoo: store,
      yesBG,
      noBG
    };
  },
  props: {
    country_code: String,
    drinkable: Boolean,
    warning: Boolean,
    url: String,
    shortUrl: String
  }
};
</script>

<style>
.IsDrinkable {
  height: 100%;
  width: 100%;
}

.IsDrinkable p {
  margin-block-start: 0.2em;
  margin-block-end: 0em;
  font-size: 1rem;
  margin: 25px auto;
  text-align: center;
}

.IsDrinkable .bgimg {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 250px;
  width: 250px;
  margin: 30px auto;
}

.answer {
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10rem;
  line-height: 250px;
  font-weight: 900;
  letter-spacing: -7px;
  color: #fff;
}

#footer {
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.6rem;
  margin-top: 1.7em;
  color: #272625;
}

#footer a {
  text-decoration: none;
  color: #272625;
  font-weight: 300;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 375px) {
  .IsDrinkable p {
    font-size: 1.1rem;
  }

  .IsDrinkable .bgimg {
    height: 300px;
    width: 300px;
  }

  .answer {
    font-size: 11rem;
    line-height: 300px;
  }

  #footer {
    font-size: 0.7rem;
    margin-top: 1.7em;
  }
}

@media only screen and (min-width: 376px) {
  .IsDrinkable p {
    font-size: 1.1rem;
  }

  .IsDrinkable .bgimg {
    height: 350px;
    width: 350px;
  }

  .answer {
    font-size: 11rem;
    line-height: 350px;
  }

  #footer {
    font-size: 0.7rem;
    margin-top: 1.7em;
  }
}

@media only screen and (min-width: 415px) {
  .IsDrinkable p {
    font-size: 1.1rem;
  }

  .IsDrinkable .bgimg {
    height: 370px;
    width: 370px;
  }

  .answer {
    font-size: 11rem;
    line-height: 370px;
  }

  #footer {
    font-size: 0.7rem;
    margin-top: 1.7em;
  }
}

@media only screen and (min-width: 767px) {
  .IsDrinkable p {
    font-size: 1.4rem;
    margin: 15 auto;
  }

  .IsDrinkable .bgimg {
    height: 440px;
    width: 440px;
  }

  .answer {
    font-size: 14rem;
    line-height: 440px;
  }

  #footer {
    font-size: 0.8rem;
    margin-top: 1em;
  }
}
</style>