<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Cache-control" content="public">
    <meta property="og:title" content="Can I Drink the Water?" />
<meta property="og:description" content="Providing information about the drinking quality of tap water in all countries over the world." />
<meta property="og:url" content="https://canidrinkthewater.info" />
    <link rel="preconnect" href="https://geoip-db.com">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <meta name="Description" content="Providing information about the drinking quality of tap water in all countries over the world.">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142986653-1"></script>
    <script>
        if (location.hostname !== "localhost" || location.hostname !== "127.0.0.1") {
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-142986653-1');
        }
    </script>

    </script>
    <title>Can I Drink the Water?</title>
</head>

<body>
    <noscript>
        <strong>We're sorry but dev doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>