<template>
  <div id="app" v-bind:style="{ 'background-color': backgroundColor }">
    <router-view />
    <Slide right noOverlay v-bind:width="sidebarWidth">
      <p>
        All information is from reliable sources. Each country links to the given source, where you can find more information. If in doubt, you can always ask locals or rely on bottled water.
        We disclaim all responsibility.
      </p>

      <p>
        This site is made by Web Developer, Judith Köthnig and Art Director, Nicolai Dimon. If you have any updates for the site, please write us an e-mail at
        hello@canidrinkthewater.info
      </p>
    </Slide>
  </div>
</template>

<script>
import { Slide } from "vue-burger-menu"; // import the CSS transitions you wish to use, in this case we are using `Slide`
import store from "./store.js";

export default {
  components: {
    Slide
  },
  data() {
    return {
      sharedFoo: store,
      sidebarWidth: "",
      backgroundColor: ""
    };
  },
  mounted() {
    const windowWidth = window.innerWidth;
    if (windowWidth >= 1024) {
      this.sidebarWidth = "650";
    } else if (windowWidth >= 700) {
      this.sidebarWidth = "450";
    } else if (windowWidth >= 375) {
      this.sidebarWidth = "350";
    } else if (windowWidth >= 414) {
      this.sidebarWidth = "400";
    } else {
      this.sidebarWidth = "300";
    }
    this.setBGcolor();
  },
  methods: {
    setBGcolor: function() {
      let backgroundColor;
      if (
        this.sharedFoo.initial === false &&
        this.sharedFoo.drinkable === true
      ) {
        backgroundColor = "#b5e1c6";
        console.log(backgroundColor);
        console.log("Initial: " + this.sharedFoo.initial);
        console.log("Drinkable: " + this.sharedFoo.drinkable);
      } else if (
        this.sharedFoo.initial === false &&
        this.sharedFoo.drinkable === false
      ) {
        backgroundColor = "#fab8ad";
        console.log(backgroundColor);
        console.log("Initial: " + this.sharedFoo.initial);
        console.log("Drinkable: " + this.sharedFoo.drinkable);
      } else {
        backgroundColor = "#a0a2a3";
        console.log(backgroundColor);
        console.log("Initial: " + this.sharedFoo.initial);
        console.log("Drinkable:" + this.sharedFoo.drinkable);
      }
      this.backgroundColor = backgroundColor;
    }
  },
  watch: {
    sharedFoo: {
      handler: function() {
        console.log("fuck this keyboard layout");
        this.setBGcolor();
      },
      deep: true
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap");

#app {
  margin: 0;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
}

.bm-menu p {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  font-size: 1.1rem;
}

.bm-burger-button {
  height: 17px !important;
  width: 31px !important;
  top: 20px !important;
  right: 20px !important;
}

.bm-burger-bars {
  height: 3px !important;
}

.bm-burger-bars:nth-child(2) {
  top: 10px !important;
}

.bm-burger-bars:nth-child(3) {
  top: 20px !important;
}

.bm-cross {
  width: 2px !important;
  height: 31px !important;
  top: 16px !important;
}

.bm-item-list {
  margin-left: 7% !important;
  margin-right: 7% !important;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 375px) {
  .bm-menu span[style] {
    right: 158px !important;
  }
  .bm-menu p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 414px) {
  .bm-menu span[style] {
    right: 162px;
  }
}

@media only screen and (min-width: 700px) {
  .bm-menu span[style] {
    right: 210px !important;
  }

  .bm-burger-button {
    top: 30px !important;
    right: 30px !important;
  }

  .bm-menu p {
    font-size: 1.4rem;
    line-height: 30px;
  }

  .bm-item-list {
    margin-right: 10% !important;
  }
}

@media only screen and (min-width: 1024px) {
  .bm-menu span[style] {
    right: 308px !important;
  }
}
</style>
